section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 850px;
	text-align: center;
	font-weight: 600;
}
.armies {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: larger;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0px 1px 10px 1px black;
}

h2 {
	border-bottom: 1px solid gray;
	width: 300px;
	height: 45px;
	font-weight: 400;
	font-size: 2em;
	margin-bottom: 5px;
}
h3 {
	margin: 0 auto 10px auto;
	font-weight: 600;
	font-size: 1.6em;
	color: rgb(34, 253, 34);
}

ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	margin: 2px;
	width: 400px;
}

li {
	margin: 2px;
	display: flex;
	justify-content: flex-start;
	width: 30px;
	text-align: center;
}

.blue {
	color: rgb(53, 107, 255);
	text-align: left;
	display: flex;
}

#vikings {
	color: rgb(255, 0, 0);
}

#saxons {
	color: rgb(216, 216, 33);
}

.green {
	color: rgb(34, 253, 34);
}

.yellow {
	color: rgb(216, 216, 33);
}

.red {
	color: rgb(224, 12, 12);
}

.headers {
	border: none;
}
